In [84]:
import pandas as pd
import numpy as np

import re
import string

In [85]:
shot_chart = pd.read_csv('Shot_Profiles.csv')
player_bios = pd.read_csv('Player_bios.csv')

In [86]:
shot_chart.rename(columns = {'Unnamed: 0': 'Player'}, inplace = True)

In [87]:
def clean_names(name):
    name = re.sub('[%s]' % re.escape(string.punctuation), '', name)
    name = re.sub('ć', 'c', name)
    name = re.sub('Ć', 'C', name)
    name = re.sub('Ž', 'Z', name)
    name = re.sub('č', 'c', name)
    name = re.sub('Č', 'C', name)
    return name

cleaning = lambda x: clean_names(x)

In [88]:
shot_chart['Player'] = pd.DataFrame(shot_chart.Player.apply(cleaning))
player_bios['Player'] = pd.DataFrame(player_bios.Player.apply(cleaning))

In [89]:
player_bios[player_bios['Player'] == 'Nikola Jokic']

            Player Pos     3P%    2P%  TRB   AST   STL   BLK   TOV    PF   PTS
1467  Nikola Jokic   C  0.3348  0.574  9.7  5.52  1.12  0.72  2.52  2.86  17.1

In [90]:
player_bios

,Player,Pos,3P%,2P%,TRB,AST,STL,BLK,TOV,PF,PTS
0,AC Green,PF,0.125000,0.451000,4.850000,0.750000,0.500000,0.150000,0.550000,1.500000,4.750000
1,AJ Bramlett,C,0.000000,0.190000,2.800000,0.000000,0.100000,0.000000,0.400000,1.600000,1.000000
2,AJ Guyton,PG,0.255000,0.254000,0.700000,1.566667,0.333333,0.133333,0.666667,0.533333,3.800000
3,AJ Hammons,C,0.500000,0.375000,1.600000,0.200000,0.000000,0.600000,0.500000,1.000000,2.200000
4,AJ Price,PG,0.242889,0.444667,1.266667,1.900000,0.366667,0.022222,0.700000,0.766667,5.088889
...,...,...,...,...,...,...,...,...,...,...,...
2026,Ömer Aşık,C,0.000000,0.484000,5.750000,0.470000,0.300000,0.570000,0.970000,1.720000,3.930000
2027,Šarūnas Jasikevicius,PG,0.336750,0.437250,1.300000,2.750000,0.450000,0.025000,1.425000,1.200000,6.275000
2028,Zan Tabak,C,0.000000,0.499000,2.850000,0.400000,0.200000,0.500000,0.800000,1.500000,3.000000
2029,Zarko Cabarkapa,PF,0.290000,0.492400,2.020000,0.480000,0.200000,0.120000,0.660000,1.200000,4.520000
2030,Zeljko Rebraca,C,0.000000,0.505429,2.871429,0.385714,0.200000,0.657143,0.900000,2.285714,5.600000

In [91]:
finalized_df = pd.merge(shot_chart, player_bios, on = 'Player')

In [93]:
finalized_df.to_csv('Final_df.csv')

# Creating a Baseline Model